@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Work Sans', sans-serif;
  padding:0;
  margin:0;
}

header{
  background: rgba(255, 144, 14, 0.10);
  padding:3.125rem 15rem;

}

nav{
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.section-title{
  color:  #131313;
  font-size: 2.813rem;
  font-weight: 700;
}

nav > ul{
  display: flex;
}

nav li{
  list-style: none;
  margin-right:1.875rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
}

nav li a{
  text-decoration:none;
  color: #424242;
}


.banner-content{
  max-width:53.125rem;
  text-align:center;
  margin:0 auto;
}

.banner-title{
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;

}

.banner-description{
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.btn-primary{
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background: #FF900E;
  padding:1.25rem 1.563rem;
  border:none;
  cursor:pointer;
  margin-top:2rem;
}

.banner img{
  width:100%;
  margin-top:50px;
}

/* Responsive media queries */
/* Mobile Devices */


/* Main styles */

main{
  max-width:120rem;
  margin:0 auto;
}

/* Teams Styles */

.teams-container{
  display:flex;
  align-items: center;
  margin-top:5.313rem;
  margin-bottom:8.125rem;
}

.teams-img-container{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:1.5rem;
  margin-left:18.813rem;
}

.teams-content{
  margin-left:4.75rem;
  margin-right:18.813rem;
}

.teams-img{
  width: 21.375rem;
  height: 21.375rem;
  border-radius: 0.5rem;
}

.teams-description{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}

.teams-title{
  font-size: 2.813rem;
  font-weight: 500;
  color:#727272;
}

.of-span{
  color:#131313;
  font-weight: 700;
}

.features-span{
  color:#FF900E;
  font-weight:700;
  position:relative;

}

/* Features style */

.features{
  display: flex;
  margin-top:130px;
  gap:100px;
  margin-right:240px;
  margin-left:240px;
  margin-bottom:120px;
}

 .ten-years-badge{
  background:#ff900E;
  border-radius:8px;
  width: 342px;
  height: 200px;
  color:#fff;
  padding:40px;
  text-align: center;
  justify-content: center;
  position:relative;
  bottom:170px;
}

.feature-img  img{
  height:70%;
  margin-left:90px;
}

.ten-years-badge h2{
  font-size:4rem;
  margin:0;
  margin-top:40px;
}


.ten-years-badge p{
 font-size:1.5rem; 
}


.feature-title{
  color:  #131313;
  font-size: 45px;
  font-weight: 700;
  width: 468px;
  margin-bottom:24px;
  margin-left:20px;
  border-left:5px solid #FF900E;
  padding-left:20px;
  margin-left:-9px;
} 

.feature-description{
  color: #727272;
  width: 586px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  margin-bottom:30px;
}

.features-card{
  width: 586px;
  height: 171px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom:20px;
}

.feature-card-title{
  color:  #131313;
  font-size: 20px;
  font-weight: 600; 
  padding:30px 302px 10px 33px;
}

.card-info{
  color:  #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 514px;
  padding:0 42px 30px 30px;
}

/* Facts Section */


.facts{
  max-width:1420px;
  margin:auto;
}
.section-title{
  margin-left:-10px;
}

.facts-paragraph{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  margin-top:24px;
  margin-bottom:100px;
  margin-left:-10px
}

.facts-card-container{
  display:flex;
  margin:auto;
  margin:auto;
  justify-content: space-around; 
  
}



 .card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding:30px 40px;
}

.card-stats{
  color: #424242;
  font-size: 45px;
  font-weight: 600;
  
}

.card-title{
  color: #727272;
  font-size: 20px;
  font-weight: 600;

}


/* Sponsors styles */

.sponsors{
  text-align:center;
  margin-top:180px;
}

.sponsors-description{
  margin-top:24px;
  height:52px;
  color:  #727272;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom:50px;
  
}

.sponsors-image-container{
  display:flex;
  justify-content: space-evenly;
  margin-bottom:130px;
}

footer{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:200px;
}

.footer{
  display:flex;
  justify-content: center;
  border-radius: 8px;
  background: #FFF4E7;
  width:1440px;
}

.footer-description{
  padding:39px 410px;
}

@media screen and (max-width:576px){
  header{
    padding:1.25rem;
  }

  nav, .teams-container, .features{
    flex-direction:column;
  }

  /* .feature-img img{
    width:90%;
    margin-left:0;
  } */

  .features{
   
    margin-top:130px;
    margin-right:0;
    margin-left:0;

  }

  .feature-title{
    color:  #131313;
    font-size: 35px;
    font-weight: 700;
    width: 300px;
    margin-bottom:24px;
    margin-left:20px;
    border-left:5px solid #FF900E;
    padding-left:20px;
    
  } 

  .feature-card-title{
    padding:30px 30px 10px 33px;
  }
  
  .card-info{
   
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 300px;
    padding:0 42px 30px 30px;
  }


  .feature-description{
    color: #727272;
    width: 300px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom:30px;
    margin-left:20px;
  }

  .feature-img  img{
    height:500px;
    width:330px;
    padding:0;
    margin-left:25px;
    
  }

  .features-card{
    width: 350px;
    height: auto;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom:20px;
    margin-left:20px;
    margin-right:0;
  }

   .ten-years-badge{
    position:relative;

    max-width:100px;
    max-height:100px;
  } 

  .ten-years-badge h2{
    font-size:30px;
    padding:0;
    margin:0;
  }

  .ten-years-badge p{
    font-size:20px;
  }

  .teams-img-container{
    grid-template-columns: 1fr;
    margin-left:0;
  }

  .teams-content{
    margin-left:1.875rem;
    margin-right:0.625rem;
    margin-top:0.625rem;
  }

  header{
    margin-right:-15px;
  }  

  .section-title{
    margin-left:20px;
    
  }

  .facts-paragraph{
    margin-left:30px;
    margin-right:0;
  }

  .facts-card-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:15px;
  
    margin-right:5px;
    margin-left:5px;
  }

  .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding:10px 20px;
  }

  .sponsors-image-container{
    display:grid;
    grid-template-columns: 1fr;
    gap:24px;
    margin-left: 130px;
  }


  .footer-description{
    padding:10px;
  }

  .footer{
    display:flex;
    justify-content: center;
    background: #FFF4E7;
    width:100%;
  }

  footer{
    margin-bottom:100px;
  }

  
  
 
}

/* Table or medium Devices */

@media screen and (min-width:576px) and (max-width:960px){
  
  header{
    padding:3.125rem;
    margin-right:0;
  }

  nav, .teams-container{
    flex-direction:column;
  }
  .teams-img-container{
    margin-left:0;
    margin-right:0;
    margin-bottom:0.625rem;
  }

  .teams-content{
    margin-left:6.875rem;
    padding:0;
  }

  .section-title{
    margin-left:20px;
  }

  .facts-paragraph{
    margin-left:20px;
    
  }

  .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding:10px 20px;
    margin-left:-31px;
  }
  .sponsors-image-container{
    display:flex;
    width:900px;
    
  }

  .features{
    flex-direction: column;
    margin-left:80px;
  }


  .feature-img  img{
    margin:0;
    margin-left:5px;
    
  }

}
